<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ECサイト</title>
<link href="/css/style.css" rel="stylesheet" />

<script>
  
  // カート情報
  let cartList = [];
  
  // ロード時の処理
  document.addEventListener('DOMContentLoaded', event => {
    // ログインボタン押下時、login関数実行
    document.getElementById("loginForm").addEventListener("submit", login);
    
    // カートに入れるボタン押下時、addCart関数実行
    const cartBtns = document.querySelectorAll(".cartBtn");
    cartBtns.forEach((btn) => {
      btn.addEventListener("click", addCart);
    });
    
    document.getElementById("purchaseBtn").addEventListener("click", purchase);
    
    document.getElementById("historyBtn").addEventListener("click", showHistory);
  });
  
  // カート表の初期化
  function initCart() {
    const tbody = document.querySelector("#cart tbody");
    // console.log(tbody.lastChild);
    while(tbody.lastChild) {
      tbody.removeChild(tbody.lastChild);
    }
  }
  
  // ログイン時の処理
  function login(event) {
    // デフォルト動作の阻止
    event.preventDefault();
    
    // カート表の初期化
    initCart();
    cartList = [];
    
    const postObj = {
      "userName": document.querySelector("input[name=userName]").value,
      "password": document.querySelector("input[name=password]").value
    };
    
    // api通信
    fetch("/ecsite/api/login", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(postObj)
    })
    .then(response => response.text())
    // 通信成功
    .then(result => {
      const user = JSON.parse(result);
      document.getElementById("welcome").innerText = `ようこそ！ ${user.fullName} さん`;
      document.getElementById("hiddenUserId").value = user.id;
      document.querySelector("input[name=userName]").value = "";
      document.querySelector("input[name=password]").value = "";
    })
    // 通信失敗
    .catch(error => {
      console.error("Error: ", error);
    });
  }
    
  // カートに入れるボタン押下時の処理
  function addCart(event) {
    const tdList = event.target.parentElement.parentElement.querySelectorAll("td");
    
    const goodsInfo = {
      "id": tdList.item(0).innerText,
      "goodsName": tdList.item(1).innerText,
      "price": tdList.item(2).innerText,
      "count": tdList.item(3).querySelector("input").value
    };
    
    // console.log(goodsInfo);
    
    if (goodsInfo.count === "0" || goodsInfo.count === "") {
      alert("注文数が0または空欄です。");
      return;
    }
    
    // カートに追加
    cartList.push(goodsInfo);
    
    // console.log(cartList);
    
    // カート表の初期化
    initCart();
    
    cartList.forEach(cart => {
      const tr = document.createElement("tr");
      for([key, value] of Object.entries(cart)) {
        const td = document.createElement("td");
        td.innerText = value;
        tr.appendChild(td);
      }
      
      // カート削除ボタン作成
      const removeBtn = document.createElement("button");
      removeBtn.innerText = "カート削除";
      removeBtn.setAttribute("class", "removeBtn");
      removeBtn.addEventListener("click", removeCart);
      
      const td = document.createElement("td");
      td.appendChild(removeBtn);
      
      tr.appendChild(td);
      
      const tbody = document.querySelector("#cart tbody");
      tbody.appendChild(tr);
    });
  }
  
  // カート削除ボタン押下時の処理
  function removeCart(event) {
    const tr = event.target.parentElement.parentElement;
    const tdList = tr.querySelectorAll("td");
    
    const id = tdList.item(0).innerText;
    cartList = cartList.filter(cart => {
      return cart.id !== id;
    });
    
    while (tr.lastChild) {
      tr.removeChild(tr.lastChild);
    }
  }
  
  function showHistory(event) {

    const postObj = {
      "userId": document.getElementById("hiddenUserId").value
    };
    
    fetch("/ecsite/api/history", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(postObj)
    })
    .then(response => response.text())
    // 通信成功
    .then(result => {
      const histryList = JSON.parse(result);
      
      while(tbody.lastChild) {
        tbody.removeChild(tbody.lastChild);
      }
      
      histryList.forEach((history, index) => {
        const tr = document.createElement("tr");
        const keys = ["goodsName", "itemCount", "createdAt"];
        
        for(key of keys) {
          const td = document.createElement("td");
          td.innerText = history[key];
          tr.appendChild(td);
        }
        tbody.appendChild(tr);
      });
    })
    .catch(error => {
      console.error("Error:", error);
    });
  }
  

</script>

</head>
<body>
  <header>
    <h1>ECサイト</h1>
    <div>
      <form name="loginForm" id="loginForm" method="post" action="#">
        ユーザー名：<input type="text" name="userName" />
        パスワード：<input type="password" name="password" />
        <button type="submit">ログイン</button>
      </form>
      
      <span id="welcome">ようこそ！ ゲスト さん</span>
      <input type="hidden" id="hiddenUserId" value="0" />
    </div>
  </header>
  
  <table id="goodsListTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>価格</th>
        <th>注文数</th>
        <th>カート</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item: ${goods}">
        <td th:text="${item.id}" />
        <td th:text="${item.goodsName}" />
        <td th:text="${item.price}" />
        <td><input type="number" class="count" vaule="0"></td>
        <td><button class="cartBtn">カートに入れる</button></td>
      </tr>
    </tbody>
  </table>
  
  <fieldset>
    <legend>カート</legend>
    <table id="cart">
      <thead>
        <tr>
          <th>ID</th>
          <th>商品名</th>
          <th>価格</th>
          <th>注文数</th>
          <th>カート</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <button id="purchaseBtn">購入</button>
  </fieldset>
  
  <fieldset>
    <legend>購入履歴</legend>
    <table id="history">
      <thead>
        <tr>
          <th>商品名</th>
          <th>注文数</th>
          <th>購入日時</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <button id="historyBtn">履歴を表示</button>
  </fieldset>
</body>
</html>











